<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- template driven form example -->
      <!-- on submit method binded to form submission -->
      <form #tdForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- Mail address (should not be empty and should be an email address) -->
          <!-- local reference #email, binded to ngModel to get access to the input  -->
          <label for="email">Email</label>
          <input
            type="email" 
            id="email" 
            ngModel 
            name="email"
            required
            email
            class="form-control"
            #email="ngModel">
            <!-- show span if email is not valid and touched  -->
          <span class="help-block" *ngIf="!email.valid && email.touched">Enter a valid email address</span>
        </div>
        <div class="form-group">
          <!-- a dropdown which allows the user to select from three options
          <!-- one way property binding with [ngModel]. dont want to modify defaultSubscription var with user selection-->
          <label for="subscription">Subscription</label>
          <select 
            name="subscription" 
            id="subscription"
            [ngModel]="defaultSubscription"
            class="form-control">
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription">{{ subscription }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <!-- a password field (should not be empty) -->
          <!-- local reference #password, binded to ngModel to get access to the input  -->
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            name="password" 
            ngModel 
            required
            class="form-control"
            #password='ngModel'>
          <span class="help-block" *ngIf="!password.valid && password.touched">Enter a valid password</span>
        </div>
        <!-- show paragraph if form is invalid && touched using ngIf -->
        <p *ngIf="!tdForm.valid && tdForm.touched">The form is invalid</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
