
<!-- template driven form example -->
<!-- on submit method binded to form submission -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="mb-3">
        <h2 id="example">Template-Driven Form
          <a 
            class="anchorjs-link " 
            aria-label="Anchor" 
            data-anchorjs-icon="#" 
            href="#example" 
            style="padding-left: 0.375em;">
          </a>
        </h2>
        <p>Example of a template driven form. 
          <code>ngModel</code> is used to bind input. 
          <code>ngIf</code> is used to validate fields and display helper messages.
        </p>
      </div>
      <form #tdForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <!-- Mail address (should not be empty and should be an email address) -->
          <!-- local reference #email, binded to ngModel to get access to the input  -->
          <label for="email" class="form-label">Email</label>
          <input
            type="email" 
            id="email" 
            ngModel 
            name="email"
            placeholder="name@example.com"
            required
            email
            class="form-control"
            #email="ngModel">
          <!-- show div if email is not valid and touched  -->
          <div 
            id="passwordHelpBlock" 
            class="form-text" 
            *ngIf="!email.valid && email.touched">Enter a valid email address
          </div>
        </div>
        <div class="mb-3">
          <!-- one way property binding with [ngModel] because we dont want to modify 
          defaultSubscription var with user selection-->
          <label for="subscription" class="form-label">Subscription</label>
          <select 
            name="subscription" 
            id="subscription"
            [ngModel]="defaultSubscription"
            class="form-select">
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription">{{ subscription }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <!-- a password field (should not be empty) -->
          <!-- local reference #password, binded to ngModel (two-way) to get access to the input  -->
          <label for="password" class="form-label">Password</label>
          <input 
            type="password" 
            id="password" 
            name="password" 
            ngModel 
            required
            class="form-control"
            #password='ngModel'>
          <!-- show span if password is not valid and touched  -->
          <span class="help-block" *ngIf="!password.valid && password.touched">Enter a valid password</span>
        </div>
        <!-- show paragraph if form is invalid && touched using ngIf -->
        <p *ngIf="!tdForm.valid && tdForm.touched">The form is invalid</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr>
      <div class="mb-3">
        <h2 id="example">Reactive Form
          <a 
            class="anchorjs-link " 
            aria-label="Anchor" 
            data-anchorjs-icon="#" 
            href="#example" 
            style="padding-left: 0.375em;">
          </a>
        </h2>
        <p>Example of a Reactive Form. A custom validator <code>invalidProjectName</code> 
          is used on the APM input. <code>ngIf</code> is used to display a div based on the custom validator.  
        </p>
        <!-- reative form example -->
        <!-- bind formGroup to projectForm, formControlName binds inputs to formControl in .ts -->
        <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
          <div class="mb-3">
            <label for="name" class="form-label">APM</label>
            <input
              type="text" 
              id="name"
              formControlName="projectName"
              class="form-control">
              <!-- display if invalid, & dirty or touched -->
              <div 
                id="passwordHelpBlock" 
                class="form-text"
                *ngIf="!projectForm.controls.projectName?.valid && 
                (projectForm.controls.projectName?.dirty || projectForm.controls.projectName?.touched)">
                Invalid APM Number!
              </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input 
              type="email" 
              id="mail"
              formControlName="mail"
              class="form-control">
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select 
              name="status" 
              id="status"
              formControlName="projectStatus"
              class="form-select">
              <option value="stable">Stable</option>
              <option value="critical">Critical</option>
              <option value="finished">Finished</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Create Project</button>
        </form>
      </div>
    </div>
  </div>
</div>
